.pricing-table-basic {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
    margin-bottom: 75px;
}

.pricing-table-basic .plan {
	display: inline-block;
	margin-left: 18px;
	margin-bottom: 20px;
}

.pricing-table-basic .plan p,
.pricing-table-basic .plan div,
.pricing-table-basic .plan h2 {
	display: block;
	width: 200px;
	background-color: #ffffff;
	border: 1px solid #dce1e8;
	border-bottom: none;
	padding: 25px 0;
	margin: 0;
	box-sizing: border-box;
}

/* Basic, Pro and Enterprise plan */

.pricing-table-basic .plan h2 {
	color:  #4a5668;
	background-color: #f7f9fc;
	font-size: 18px;
	margin: 0;
}

.pricing-table-basic .plan h2 strong {
	display: block;
	text-align: center;
	margin-bottom: 10px;
}

.pricing-table-basic .plan h2 span {
	display: block;
	margin: 0 10px;
	color: #717D8F;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.4;
	text-align: center;
}

.pricing-table-basic .plan p {
	padding: 15px 0;
	box-sizing: border-box;
}

.pricing-table-basic .plan p span{
	display: block;
	margin: 0 auto 5px auto;
	color:  #6c6b6b;
	font-size: 13px;
	font-weight: bold;
	line-height: 17px;
	text-align: center;
}

.pricing-table-basic .plan p strong {
	display: block;
	text-align: center;
	color: #608ba1;
	font-size: 22px;
}

.pricing-table-basic .plan p.plan-price strong {
	font-size: 18px;
	color: #dfa423;
}

.pricing-table-basic .plan div {
	border-bottom: 1px solid #dce1e8;
	padding: 30px 0;
	box-sizing: border-box;
}

.pricing-table-basic .plan div a.order-a-plan {
	border-radius: 2px;
	color: #ffffff;
	background-color: #efa154;
	font-size: 16px;
	font-weight: bold;
	padding: 13px 30px;
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.1);
	text-decoration: none;
}

/* Featured Plan */

.pricing-table-basic .featured h2 {
	padding: 30px 0;
	box-sizing: border-box;
}

.pricing-table-basic .featured h2 strong {
	font-size: 24px;
}

.pricing-table-basic .featured h2 span {
	font-size: 14px;
}

.pricing-table-basic .featured .most-popular {
	display: inline-block;
	position: relative;
	color: #ffffff;
	background-color:  #5198bb;
	font-size: 13px;
	font-weight: bold;
	padding: 10px 27px;
	margin-bottom: 30px;
}

.pricing-table-basic .featured .most-popular:after {
	content: '';
	position: absolute;
	top: 39px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 5px solid #5198bb;
}
